@charset "UTF-8";

/*ESTILOS PARA IMPORESSORAS*/

* {
    margin: 10px;
    padding: 10px;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: "este arquivo foi impresso atraves do site wwwcursoemvideocom;"
}

article {
    width: 100%;
}