@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-p: "Caveat", sans-serif;
    --font-h1:  "Roboto Condensed", sans-serif;

}
* {
   margin: 0;
   padding: 0;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font-h1);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font-p);
    font-size: 5vw;
    padding-left: 3vw ;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
}

section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(37, 37, 37);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.76);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.459);
    display: inline-block;
    padding-left: 30px;
    padding: 10px;
    text-shadow:  1px 1px 0px black;
}

#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
